{% extends "base.html" %}

{% block content %}
<div>
    <h2>Готовые маршруты</h2>
    <p>На этой странице представлены готовые маршруты, одобренные нашими пользователями</p>
    <input name="ready_route" type="submit" value="Готовые маршруты">
</div>
<div>
    <h2>Предложите свой собственный маршрут</h2>
    <p>Вы знаете хороший маршрут, которого нет у нас на сайте? Предложите его нам, мы рассмотрим и добавим его на наш
        сайт</p>
    <input name="create_route" type="submit" value="Создать маршрут">
</div>
{% endblock %}